# dependencies
node_modules
.pnp
.pnp.js

# next
.next
out
build
next-env.d.ts

# env (example se versiona)
.env*.local
.env

# misc
.DS_Store
*.pem
npm-debug.log*
*.tsbuildinfo
.vercel
.superpowers

# playwright
test-results
playwright-report

# segundo servidor de desarrollo (demo)
.next-*
